.main{
    display: flex;
    width: 100%;
    margin: 1rem;
}

.main img{
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.profile
{
    margin: 1rem;
    /* padding: 0.1rem; */
}

.body
{
    padding: 1rem;
    background-color: rgb(163, 163, 163);
    border-radius: 0px 10px 10px 10px;
 } 
 /*
.body h4
{
    padding: 1rem;
}
.body p 
{
    padding: 1rem;
} */